<html>
<head>
  <title>Invite from Myapp</title>
</head>
<body>
<p>
  Hi {{name}}
</p>
<p>
  Myapp would like you to join it's network on <a href="http://myapp.com">Myapp.com</a>.
  <br />
  Please follow the link bellow to register:
</p>
<p>
  <a href="https://github.com/{{name}}">https://github.com/{{name}}</a>
</p>
<p>
  Thank you,
  <br />
  Myapp Team
</p>
<p>
  <a href="http://myapp.com"><img src="" /></a>
</p>
</body>
</html>